@import url("./icomoon/style.css");

@font-face {
    font-family: barlow_condensed;
    src: url(fonts/barlow_condensed.otf);
}



:root {
    --c0: #71C7AA;
    --c1: #CFBF5F;
    --c2: #42B2DF;
    --c3: #7B61FF;
    --c4: #B83992;
    --c5: #0F0D31;
    --c6: #10C5C1;
    --c7: #2E297C;
}


/* basic set up for p5js full screen */
canvas {
    display: block;
}


.dg.ac {
    z-index: 1000 !important;
}

/* back button show during gameing */
backButton {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    color: white;
    font-size: 10pt;
    line-height: 5pt;
    padding: 6px 6px 6px 6px;
    background: var(--c6);
    ;
    opacity: 1;
    z-index: 10000;
}

backButton:hover {
    background: #eeeeff;
}

#splashscreen {
    text-align: center;
    z-index: 10000 !important;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: var(--c5);
    padding-top: 10%;
}

#logo {
    background-image: url("../img/tofi.svg");
    background-size: 100%;
    width: 10vh;
    height: 10vh;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat, no-repeat;
}

#p5-container {
    background: linear-gradient(180deg, #2D2D64 0%, #000000 100%);
    z-index: 100;
}

#p5-container2 {
    position: absolute;
    z-index: 50;
    top: 0px;
    left: 0px;
}

.chart-container {
    position: relative;
    margin: auto;
    margin-top: 10vh;
    height: 50vh;
    width: 100%;
}

.page__background {
    background-color: var(--c5);
    /*background: linear-gradient(180deg, #2D2D64 0%, #000000 100%); !important;*/
}

.tabbar {
    background-color: var(--c5);
    height: auto;
}

:checked+.tabbar__button .circle-icon {
    background: var(--c6);
}

:checked+.tabbar__button ons-icon {
    color: #ffffff;
}


.tabbar__button {
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    line-height: 0%;
    font-size: 14px;
}

.tabbar__label {
    color: #ffffff;
    height: 100%;
    font-size: 14px;
    line-height: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
}


.toolbar {
    background: none;
    font-size:  13px;
}

.toolbar__right {
    padding-right: 1%;
}
#batteryIcon {
    display: none;
    margin-top: 5px;
    font-size: 9px;
    width: 20px;
    line-height: 32px;
    height: 6px;
    margin-left: auto;
    margin-right: 5px;
    border: 2px solid white;
}
#batteryIcon::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    margin-left: 20px;
    display: -webkit-inline-box;
    border: 2px solid white;
}
#batteryBar {
    content: "";
    position: absolute;
    width: 15px;
    height: 6px;
    margin-left: 0px;
    display: -webkit-inline-box;
    background: white;
}
.pointer-events-none {
    pointer-events: none;
    }
.circle-icon {
    background: var(--c7);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-stretch: 100%;
    vertical-align: middle;
    padding: 15px;
}


.button {
    background-color: var(--c6);
    ;
    cursor: pointer;
    /*background-color:var(--c5)*/
}

.button[modifier="large"] {
    background-color: var(--c7);
    cursor: pointer;
    /*background-color:var(--c5)*/
}

.responsiveMenu {
    padding: 10px;
}



.card {
    background-color: var(--c7);
    /*background-color: var(--c5)*/
}


.ons-fab {
    cursor: pointer;
}


#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--c5);
    /*background: linear-gradient(180deg, #2D2D64 0%, #000000 100%); */
    /*background-image: url("../img/MnyxU.gif");*/
    background-repeat: no-repeat;
    background-position: center;
}


@media only screen and (min-width: 768px) {
    .responsiveMenu {
        padding: 10px;
        padding-top: 15px;
        width: 50%;
        margin: auto;
    }
}



* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 20px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
    /* background: linear-gradient(180deg, #33a9a7 0%, #503478 100%); */
    background: black;
    height: 100%;
    margin: 0;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top;
    /* 170px x 200px */
    position: absolute;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;
    /* text area height */
    width: 225px;
    /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
    /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}


#deviceready.ready .event.listening {
    display: none;
}

#deviceready.ready .event.received {
    display: block;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

/*
h3 {
    color: #fff;
    margin-left: -10vh;
}

h3:before {
    font-family: FontAwesome;
    color: #fff;
    font-size: 20px;
    content: "\f111";
}
*/
.dateBlock {
    padding-left: 4vw;
    position: relative
        /* lines */
        /* adjust manually */
}

.dateBlock:after {
    /* bullets */
    background-color: white;
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0vw;
    width: 20px;
    height: 20px;
}

.dateBlock:before {
    /* lines */
    content: "";
    position: absolute;
    left: 9px;
    /* adjust manually */
    border-left: 2px solid white;
    height: 100%;
    width: 2px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #0F0D31;
    }
}